<!--<div id="filter-container">
	<h3>Arčiausiai</h3>
	<p>Kaina<i class="md-lg md-arrow-drop-down"></i></p>
	<p>Įvertinimas<i class="md-lg md-arrow-drop-down"></i></p>
	<p>Kategorija<i class="md-lg md-arrow-drop-down"></i></p>	
</div>
<h2>Rezultatai</h2>
<div ng-repeat="salon in salons" class="sidebar-list-item">
	<h1 class="title">{{salon.title}}</h1>
	<div class="user-actions-container">
		<i class="md-lg heart md-favorite"></i>
		<i class="md-lg star md-star"></i>
	</div>
	<div class="rating warmer">8,9/<span class="superscript">10</span></div>
	<div class="expand-option">įvertinkite<i class="md-lg md-expand-more"></i></div>
	<div class="clear"></div>
	<div class="price-range"><span class="active">€</span>€€€</div>
	<div class="price-label cheap">pigu!</div>
	<div class="clear"></div>
	<p class="address">{{salon.address}}</p>
	<div class="directions-container">
		<i class="dir md-lg md-my-location"></i>
		<i class="dir md-lg md-more-horiz"></i>
		<i class="dir md-lg md-place"></i>
		<p>1,2 km</p>
		<i class="dir md-lg md-query-builder"></i>
		<p>3 min</p>
		<div class="clear"></div>	
		<div class="transoport-button-container">
			<i class="btn active-btn md-lg md-directions-car"></i>
			<i class="btn md-lg md-directions-walk"></i>
			<i class="btn md-lg md-directions-bike"></i>
			<div class="more-option">plačiau<i class="md-lg md-chevron-right"></i></div>
		</div>
	</div>
	<div class="clear"></div>
</div>-->

<div id="image-cover">
	<div class="back-nav"><i class="md-2x heart md-arrow-back"></i></div>
	<div class="images"><i class="md-2x heart md-photo-camera"></i></div>		
</div>
<div class="sidebar-list-item">
	<h1 class="title">Lrem impsum stuff</h1>
	<div class="user-actions-container">
		<i class="md-lg heart md-favorite"></i>
		<i class="md-lg star md-star"></i>
	</div>
	<div class="rating warmer">8,9/<span class="superscript">10</span></div>
	<div class="expand-option">įvertinkite<i class="md-lg md-expand-more"></i></div>
	<div class="clear"></div>
	<div class="price-range"><span class="active">€</span>€€€</div>
	<div class="price-label cheap">pigu!</div>
	<div class="clear"></div>
	<p class="address">3606 Masonic Drive Bozeman, MT 59718 </p>
	<div class="directions-container">
		<i class="dir md-lg md-my-location"></i>
		<i class="dir md-lg md-more-horiz"></i>
		<i class="dir md-lg md-place"></i>
		<p>1,2 km</p>
		<i class="dir md-lg md-query-builder"></i>
		<p>3 min</p>
		<div class="clear"></div>	
		<div class="transoport-button-container">
			<i class="btn active-btn md-lg md-directions-car"></i>
			<i class="btn md-lg md-directions-walk"></i>
			<i class="btn md-lg md-directions-bike"></i>
		</div>
	</div>
	<div class="clear"></div>
	<p>Aprašas</p>
	<p class="small">Maecenas nec tincidunt urna. Sed mollis arcu justo, a efficitur lorem egestas quis. Donec maximus consequat leo a interdum. Integer fringilla, lacus ut elementum dapibus, lorem ipsum tempor libero, id dapibus urna felis vitae lorem. Nulla facilisi..</p>
	<div class="expand-option">daugiau<i class="md-lg md-expand-more"></i></div>
	<div class="clear"></div>
	<div class="contacts">
		<i class="md-lg md-place"></i>3606 Masonic Drive Bozeman, MT 59718
		<div class="clear"></div>
		<i class="md-lg md-drafts"></i>CalvinCSpencer@jourrapide.com
		<div class="clear"></div>
		<i class="md-lg md-stay-current-portrait"></i>+406-589-3460
		<div class="clear"></div>
		<i class="md-lg md-computer"></i>www.kerpam.lt
		<div class="clear"></div>
	</div>
</div>
